autopep8==1.4.4
beautifulsoup4==4.8.1
bleach==3.1.0
certifi==2019.9.11
chardet==3.0.4
Code2pdf==1.0.0
comtypes==1.1.7
docutils==0.15.2
dominate==2.4.0
feedparser==5.2.1
fpdf==1.7.2
idna==2.8
linecache2==1.0.0
pdfkit==0.6.1
pkginfo==1.5.0.1
pycodestyle==2.5.0
Pygments==2.4.2
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six==1.12.0
soupsieve==1.9.4
tqdm==4.36.1
traceback2==1.4.0
twine==2.0.0
unittest2==1.1.0
urllib3==1.25.6
webencodings==0.5.1