div {
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px 20px 20px 20px;
    margin: auto;
    box-sizing: border-box;

    background-color: rgb(20, 166, 192);

    width: 700px;
    height: 300px;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
div h3{
    font-family: Courier, monospace;
}
div p {
    font-family:  Sans MS, Comic Sans, cursive;
}
body {
    background-color: black;
}
div img{
    width: 100px;
    height: 300px;
}